[phases.setup]
nixPkgs = ['python39', 'postgresql']

[phases.install]
cmds = [
  'pip install --upgrade pip',
  'pip install -r requirements.txt'
]

[phases.build]
cmds = [
  'python manage.py collectstatic --noinput'
]

[start]
cmd = 'gunicorn backend.wsgi --bind 0.0.0.0:$PORT'
