[build]
builder = "DOCKERFILE"
watchPatterns = ["**/*.py", "requirements.txt"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
