[build]
builder = "NIXPACKS"

[deploy]
startCommand = "gunicorn backend.wsgi --bind 0.0.0.0:$PORT"
healthcheckPath = "/api/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
